.card {
  width: 25rem;
  padding: 30px;
  text-align: center;
}
svg.svg-inline--fa.fa-arrow-right.fa-w-14 {
  /* padding: 0px; */
  margin-left: 10px;
}
.MuiButton-containedSecondary {
  color: #fff;
  background-color: #f50057;
  display: block;
  margin-top: 45px;
}
img,
svg {
  vertical-align: middle;
  height: 200px;
  width: 280px;
  margin: 0 auto;
}
